<% provide(:title, "About") %>
<h1>About</h1>
    <p>
      El <a href="https://www.railstutorial.org/"><em>tutorial de Ruby on Rails
      </em></a> es un
      <a href="https://www.railstutorial.org/book">libro</a> y
      <a href="http://screencasts.railstutorial.org/">tutorial con imágenes</a>
      para aprender sobre desarrollo web en
      <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      Esta es una aplicación de ejemplo.
    </p>