<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Para contactar con el tutorial de Ruby on Rails sobre la aplicación de muestra entra en su
  <a href="https://www.railstutorial.org/contact">página de contacto</a>.
</p>