<% provide(:title, "Help") %>
<h1>Help</h1>
    <p>
      Obtenga ayuda sobre el tutorial de Ruby on Rails en
      <a href="https://www.railstutorial.org/help">Página de ayuda del tutorial de Rails</a>.
      Para obtener ayuda sobre este ejemplo consulte el
      <a href="https://www.railstutorial.org/book">libro del<em>tutorial de Ruby on Rails
      </em></a>.
    </p>

